<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    
</head>
<body>
    <nav>
        <div class="logo">
            <img src="/static/images/farmcy1.png" alt="Farmcy Logo">
            <div class="logo-text">
                <span class="main-title">Farmcy</span>
                <div class="subtitle">Safeguarding Crops for a Sustainable Tomorrow</div>
            </div>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/description">About Us</a>
            {% if not logged_in %}
                <a href="/register">Register</a>
                <a href="/login">Login</a>
            {% else %}
                <a href="/profile">Profile</a>
                <a href="/test">Test</a>
                <a href="/logout">Logout</a>
            {% endif %}
            <a href="/contact">Contact Us</a>
        </div>
    </nav>

    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <p class="flash-{{ category }}">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <script>
        function hideFlashMessages() {
            const messages = document.querySelectorAll(".flash-messages p");
            messages.forEach((message) => {
                setTimeout(() => {
                    message.style.display = "none"; 
                }, 3000); 
            });
        }
        document.addEventListener("DOMContentLoaded", hideFlashMessages);
    </script>

    <div class="form-container">
        <h2>Forgot Password</h2>
        <form method="POST" action="/forgot-password">
            <div class="input-row">
                <label for="username">Enter your email:</label>
                <input type="text" id="username" name="username" placeholder="Username or Email" required>
            </div>
            <div class="input-row">
                <label for="new_password">Enter new password:</label>
                <input type="password" id="new_password" name="new_password" placeholder="New Password" required>
            </div>
            <div class="input-row">
                <label for="confirm_password">Confirm new password:</label>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
            </div>
            <button type="submit">Update Password</button>
        </form>
        <p>Back to <a href="/login">Login</a></p>
    </div>

    <footer>
        <p align="center">&copy; 2024 Farmcy. All Rights Reserved. | <a href="/contact">Contact Us</a></p>
    </footer>
</body>
</html>
