<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    
</head>
<body>
    <nav>
        <div class="logo">
            <img src="/static/images/farmcy1.png" alt="Farmcy Logo">
            <div class="logo-text">
                <span class="main-title">Farmcy</span>
                <div class="subtitle">Safeguarding Crops for a Sustainable Tomorrow</div>
            </div>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/description">About Us</a>
            {% if not logged_in %}
                <a href="/register">Register</a>
                <a href="/login">Login</a>
            {% else %}
                <a href="/logout">Logout</a>
            {% endif %}
            <a href="/contact">Contact Us</a>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <p class="flash-{{ category }}">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    <script>
        function hideFlashMessages() {
            const messages = document.querySelectorAll(".flash-messages p");
            messages.forEach((message) => {
                setTimeout(() => {
                    message.style.display = "none"; 
                }, 3000); // 
            });
        }
        document.addEventListener("DOMContentLoaded", hideFlashMessages);
    </script>
    
    <form method="POST" action="/login" class="form-container">
        <h2>Login</h2>

        <div class="input-row">
            <label for="username">Email:</label>
            <input type="email" id="username" name="username" required>
        </div>

        <div class="input-row">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <br>
        <button type="submit">Login</button>

        <p>If user doesn't exist, please <a href="/register">Register</a>.</p>
        <p><a href="/forgot-password">Forgot Password?</a></p>
    </form>
    <footer>
        <p align="center">&copy; 2024 Farmcy. All Rights Reserved. | <a href="/contact">Contact Us</a></p>
    </footer>
</body>
</html>
