<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    
    <nav>
        <div class="logo">
            <img src="/static/images/farmcy1.png" alt="Farmcy Logo">
            <div class="logo-text">
                <span class="main-title">Farmcy</span>
                <div class="subtitle">Safeguarding Crops for a Sustainable Tomorrow</div>
            </div>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/description">About Us</a>
            {% if not logged_in %}
                <a href="/register">Register</a>
                <a href="/login">Login</a>
            {% else %}
                <a href="/logout">Logout</a>
            {% endif %}
            <a href="/contact">Contact Us</a>
        </div>
    </nav>

    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <p class="flash-{{ category }}" id="flash-{{ category }}">{{ message }}</p>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <script>
        function hideFlashMessages() {
            const messages = document.querySelectorAll(".flash-messages p");
            messages.forEach((message) => {
                setTimeout(() => {
                    message.style.display = "none";
                }, 3000); 
            });
        }

       
        document.addEventListener("DOMContentLoaded", hideFlashMessages);
    </script>

   
    <form method="POST" action="/register" class="form-container">
        <h3>Register</h3>

        <div class="input-row">
            <label for="username">Email:</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div class="input-row">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        
        <br>
        <button type="submit">Register</button>

        <p>If user exists, please <a href="/login">Login</a>.</p>
    </form>

    <footer>
        <p align="center">&copy; 2024 Farmcy. All Rights Reserved. | <a href="/contact">Contact Us</a></p>
    </footer>
</body>
</html>
